:root {
  --main-text-color: #FCFCFC;
  --gold-text: #EED900;
}

/* @font-face {
  font-family: monster;
  src: url(Montserrat-Regular.woff);
 } */

a,
html {
  color: #FCFCFC;
}

.wrapper-main,
html {
  position: relative
}

.wrapper-main {
  background: #fff;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-display: swap;
  font-size: 15px;
  background: #040400;
  color: #E3E2E2;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.no-overflow {
  overflow: hidden;
}

.content-handler {
  max-width: 1120px;
  margin: auto;
  padding: 0 30px;
}

a {
  text-decoration: none
}

* {
  box-sizing: border-box;
  outline: none !important;
}

*::selection {
  background: #EED900;
  color: #fff;
}

body,
html {
  padding: 0;
  margin: 0
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
}

.text-nowrap {
  white-space: nowrap;
}

.text-gold {
  color: var(--gold-text);
}

.main-title {
  font-size: 30px;
  font-weight: normal;
  color: #FFF;
  line-height: 1;
}

.main-title--sub {
  font-size: 25px;
}

.text-12 {
  font-size: 10px;
}

/* start menu */
.menu {
  background: linear-gradient(45deg, #383810 0%, #040400 59%, #040400 100%);
}

.menu-box {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 3;
  /* border-bottom: 1px solid #dadada; */
}

.menu--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.menu__box {
  display: flex;
}

.menu__item {
  display: block;
  margin-left: 70px;
  font-size: 14px;
  text-transform: uppercase;
  transition: color .5s;
}

.switch-btn {
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 22px;
  transition: .5s;
}

.menu__item:hover {
  color: var(--gold-text);
}

.switch-btn__icon {
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  transform: scale(.5);
}

.switch-btn__icon--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.switch-btn__icon-close {
  left: 4px;
}
/* end menu */

/* start section 1 */
.s1 {
  background: linear-gradient(215deg,#1E1D1D, #040400);
  padding-top: 70px;
  padding-bottom: 70px;
}

.s1__img {
  display: block;
  width: 100%;
  max-width: 850px;
  margin: auto;
  transform: translateX(65px);
}

.s1__title {
  color: var(--gold-text);
  margin: 0;
  font-weight: normal;
  font-size: 30px;
}

.s1__text {
  margin: 0;
  font-size: 20px;
  margin-top: 8px;
}
/* end section 1 */

/* start section 2 */
.s2 {
  background: linear-gradient(215deg,#1E1D1D, #040400);
  padding-top: 70px;
  padding-bottom: 70px;
}

.content-handler--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.s2__img {
  display: block;
  width: 100%;
  max-width: 790px;
  transform: translateY(70px);
}

.box-info {
  width: 62%;
}

.s2__title {
  color: var(--gold-text);
  font-size: 36px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 50px;
}

.box-detail {
  color: var(--gold-text);
  margin-top: 30px;
}

.box-detail-item {
  margin: 0;
  font-size: 20px;
}
/* end section 2 */

/* start section 3 */
.s3 {
  background: linear-gradient(215deg,#1E1D1D, #040400);
  padding-top: 70px;
  padding-bottom: 70px;
}

.text-right {
  text-align: right;
}

.s3__img {
  width: 100%;
  display: block;
  max-width: 160px;
  transform: translateY(50px);
}

.half-box-img {
  width: 32%;
  display: flex;
  justify-content: center;
}
/* end section 3 */

/* stat section 4 */
.s4 {
  background: #040400;
  padding-top: 70px;
  padding-bottom: 70px;
}

.s4__img {
  width: 100%;
  display: block;
  max-width: 150px;
  transform: translateY(50px);
}
/* end section 4 */

/* start section 5 */
.s5 {
  background: linear-gradient(215deg,#1E1D1D, #040400);
  padding-top: 70px;
  padding-bottom: 70px;
}

.middle-box-img {
  width: 30%;
  display: flex;
  justify-content: center;
}

.box-info-third {
  width: 35%;
}

.s5__img {
  width: 100%;
  max-width: 240px;
}

.s5__text {
  font-size: 19px;
}

.s5__title {
  font-size: 24px;
}
/* end section 5 */

/* end section 6 */
.s6 {
  background: #040400;
  padding-top: 70px;
  padding-bottom: 70px;
}

.s6__img {
  display: block;
  width: 100%;
  max-width: 420px;
  transform: translateY(50px);
}

.half-box-img--s6 {
  width: 36%;
}

.box-detail--s6 {
  margin-top: 8px;
}
/* end section 6 */

/* start section 7 */
.s7 {
  background: linear-gradient(215deg,#252424, #040400);
  padding-top: 70px;
  padding-bottom: 70px;
}
/* end section 7 */

/* start section 8 */
.s8 {
  background: #040400;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* end section 8 */

/* start section 9 */
.s9__title {
  color: var(--gold-text);
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}
/* end section 9 */
footer{
  padding: 30px 0;
  margin-top: 50px;
}

.footer__item {
  color: var(--gold-text);
  font-size: 14px;
}

@media(max-width: 940px) {
  .switch-btn {
    display: block;
  }
  .menu__box {
    display: none;
  }
}