:root {
  --violet: #731163;
  --violet-text: #731263;
  --yellow: #FDD103;
  --main-text-color: #Fff;
  --text-gray: #E3E2E2;
  --text-yellow: #F9EB34;
  --grad-violet: linear-gradient(to left, var(--yellow) 41%, var(--violet) 41%);
  --grad-yellow: linear-gradient(to left, var(--violet) 61%, var(--yellow) 61%);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2'), url("../fonts/Montserrat-Regular.woff") format('woff');
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff") format('woff');
}

a,
html {
  color: #FCFCFC;
}

.wrapper-main,
html {
  position: relative;
  overflow-x: hidden;
}

.wrapper-main {
  background: #fff;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, sans-serif;
  font-display: swap;
  font-size: 15px;
  background: #040400;
  color: var(--main-text-color);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.no-overflow {
  overflow: hidden;
}

.content-handler {
  max-width: 1160px;
  margin: auto;
  padding: 0 25px;
}

.content-handler--no-p {
  padding: 0;
}

a {
  text-decoration: none
}

* {
  box-sizing: border-box;
  outline: none !important;
}

*::selection {
  background: #EED900;
  color: #fff;
}

body,
html {
  padding: 0;
  margin: 0
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
}

.text-nowrap {
  white-space: nowrap;
}

.text-gold {
  color: var(--gold-text);
}

.main-title {
  font-size: 30px;
  margin-top: 0;
  font-weight: normal;
  color: #FFF;
  line-height: 1;
}

.main-title--sub {
  font-size: 25px;
}

.text-12 {
  font-size: 10px;
}

/* start menu */
.menu {
  position: relative;
}

.menu__logo {
  width: 100%;
  max-width: 125px;
  display: flex;
}

.menu__btn-part {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-box {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 3;
}

.menu--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu__box {
  display: flex;
}

.menu__item {
  display: block;
  margin-left: 70px;
  font-size: 14px;
  text-transform: uppercase;
  transition: color .5s;
}

.content-handler--flex {
  display: flex;
  justify-content: space-between;
}

.switch-btn {
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 22px;
  transition: .5s;
}

.menu__item:hover {
  color: var(--text-yellow);
}

.switch-btn__icon {
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  transform: scale(.5);
}

.switch-btn__icon--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.switch-btn__icon-close {
  left: 4px;
}

.mob-menu {
  z-index: 2;
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #f5e402;
  visibility: hidden;
  transform: translateY(30px);
  opacity: 0;
  transition: .3s;
}

.mob-menu--show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.mob-menu__item {
  display: block;
  transition: .5s;
  margin: 25px 0;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.mob-menu__item:hover {
  color: var(--gold-text);
}

.menu__link-logo {
  min-width: 125px;
  transition: .4s;
  transform: translateY(50px);
}

.menu__link-logo:hover {
  transform: scale(1.04) translateY(50px);
}

.menu__link-logo--active,
.menu__link-logo--active:hover {
  transform: translateY(0px);
  width: 48px;
}

.card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.5);
}

.card__info-part {
  width: 60%;
  padding: 30px 40px 30px 25px;
}

.s3-card__info-part {
  padding-top: 110px;
}

.card__img-part {
  width: 40%;
  padding: 30px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* end menu */

/* start section 1 */
.s1 {
  background: var(--grad-violet);
  padding: 0 25px 70px;
}

.m-bold {
  font-family: Montserrat-Bold, serif;
}

.s1__spacer {
  height: 20px;
}

.s1__img {
  display: block;
  width: 100%;
  max-width: 400px;
}

.s1__text {
  margin: 0;
  font-size: 20px;
  margin-top: 8px;
}

/* end section 1 */

/* start section 2 */
.s2 {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  color: var(--violet-text);
}

.w__left-part {
  width: 60%;
  padding-right: 20px;
}

.w__right-part {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2__img {
  display: block;
  width: 100%;
  max-width: 190px;
}

.box-detail {
  color: var(--text-yellow);
  margin-top: 30px;
}

.card__detail-text {
  color: var(--text-gray);
  margin: 0;
  font-size: 18px;
  margin-top: 8px;
}

.box-detail-item {
  margin: 0;
  font-size: 20px;
}

/* end section 2 */

/* start section 3 */
.s3 {
  background: var(--grad-yellow);
  padding-top: 50px;
  padding-bottom: 1px;
}

.s3__card {
  margin: 85px 0 135px;
}

.s3__title {
  color: #FED103;
  font-size: 45px;
  transform: translateX(41.5%);
}

.text-right {
  text-align: right;
}

.s3__img {
  width: 100%;
  max-width: 330px;
  display: block;
  margin-top: -100px;
}

.s3__img--single {
  width: 100%;
  max-width: 150px;
  margin-top: -120px;
}

.half-box-img {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end section 3 */

/* stat section 4 */
.s4 {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  color: var(--violet-text);
}

.s4__img {
  width: 100%;
  max-width: 170px;
  display: block;
}

.s4__info-part {
  padding-left: 50px;
  width: calc(100% - 180px);
}

.s4--flex {
  display: flex;
  justify-content: space-between;
}

.s4__img-part {
  width: 180px;
}

.second-title {
  color: var(--violet-text);
  font-size: 20px;
  margin-top: 0;
  font-family: Montserrat-Bold;
}
/* end section 4 */

/* stat section 5 */
.s5 {
  background: var(--grad-violet);
  padding-top: 70px;
  padding-bottom: 70px;
  color: var(--violet-text);
}

.s5__img {
  max-width: 200px;
  width: 100%;
  display: block;
  margin-top: -100px;
}

.s5__card {
  margin: 40px 0 30px;
}

.s5-card__img-part {
  padding-bottom: 30px;
}
/* end section 5 */

/* end section 6 */
.s6 {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  color: var(--violet-text);
}

.s6__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.s6__line .s1__text{
  margin-top: 11px;
}

.text-violet {
  color: var(--violet-text);
}

.s6__img-part {
  width: 130px;
}

.s6__img {
  width: 100%;
  max-width: 120px;
  display: block;
}

.s6__info-part {
  padding-left: 50px;
  width: calc(100% - 130px);
}
/* end section 6 */
.no-mr {
  margin: 0;
}

footer {
  background: linear-gradient(to left, var(--violet) 78%, var(--yellow) 78%);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer__logo-part {
  background: var(--yellow);
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.footer__contact-part {
  width: calc(100% - 186px);
  padding: 30px 0 30px 80px;
}

.footer__item {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  white-space: nowrap;
  color: var(--text-yellow);
}

.footer__logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 146px;
}

.footer__icon {
  margin-right: 5px;
  vertical-align: middle;
}

.footer__icon--location {
  margin-left: 4px;
  margin-right: 7px;
}

@media(max-width: 1300px) {
  footer {
    background: linear-gradient(to left, var(--violet) 82%, var(--yellow) 82%);
  }
}

@media(max-width: 1050px) {
  .s1__text {
    font-size: 18px;
  }
}

@media(max-width: 870px) {
  .s1 {
    background: linear-gradient(360deg, var(--yellow) 40%, var(--violet) 40%);
  }

  .card__img-part {
    padding-bottom: 20px;
  }

  .card {
    flex-direction: column;
  }

  .card__info-part,
  .card__img-part,
  .menu__btn-part {
    width: 100%;
  }

  .s3 {
    background: var(--violet);
  }

  .s3__title {
    text-align: center;
    transform: none;
    margin-bottom: 110px;
  }

  .card__img-part {
    background: var(--yellow);
  }

  .s5 {
    background: var(--violet);
  }

  .box-info--last-order {
    order: 2;
  }
}

@media(max-width: 710px) {
  .menu__box {
    display: none;
  }

  .menu__link-logo {
    min-width: 40px;
    transition: .6s;
  }

  .switch-btn {
    display: flex;
  }
}

@media(max-width: 680px) {
  .footer__contact-part {
    padding-left: 20px;
  }
}

@media(max-width: 605px) {
  .footer-flex {
    display: block;
  }

  .footer-flex {
    padding: 0;
  }

  footer{
    background: var(--violet);
  }

  .footer__logo-part {
    width: 100%;
    padding: 20px 25px;
  }

  .footer__contact-part {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media(max-width: 540px) {
  .s2__img {
    max-width: 150px;
    margin-left: 18px;
  }

  .s4__img-part {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s1 {
    background: linear-gradient(360deg, var(--yellow) 34%, var(--violet) 34%);
  }

  .menu--flex {
    padding: 0;
  }

  .card__info-part {
    padding-right: 15px;
    padding-left: 15px;
  }

  .content-handler--flex {
    flex-direction: column;
  }

  .w__left-part,
  .w__right-part {
    width: 100%;
  }

  .w__left-part {
    order: 2;
  }

  .w__right-part {
    margin-bottom: 30px;
  }

  .s6__info-part {
    padding-left: 0
  }

  .s6__img {
    max-width: 100px;
  }

  .s6__img-part {
    width: 100px;
  }

  .s4--flex {
    flex-direction: column;
  }

  .s4__info-part {
    width: 100%;
    padding-left: 0;
  }

  .s4__img {
    width: 130px;
    margin-left: 15px;
  }

  .s4__img-part {
    margin-bottom: 30px;
  }
}

@media(max-width: 440px) {
  .s1 {
    background: linear-gradient(360deg, var(--yellow) 28%, var(--violet) 28%);
    padding-left: 15px;
    padding-right: 15px;
  }

  .s1__text {
    font-size: 16px;
  }
}

@media(max-width: 400px) {
  .s1 {
    background: linear-gradient(360deg, var(--yellow) 24%, var(--violet) 24%);
  }

  .s6__line {
    flex-direction: column;
  }

  .s6 {
    padding-bottom: 20px;
  }

  .s6__img-part {
    margin-bottom: 20px;
  }

  .s6__info-part {
    width: 100%;
  }

  .footer__item {
    font-size: 18px;
  }
}

@media(max-width: 350px) {
  .footer__item {
    font-size: 15px;
  }
}


/* start btn-top */
.cd-top {
  position: fixed;
  display: block;
  height: 45px;
  width: 45px;
  background: #585858;
  bottom: 30px;
  right: 30px;
  line-height: 54px;
  text-align: center;
  font-size: 0;
  visibility: hidden;
  border-radius: 8px;
  opacity: 0;
  transition: .6s;
}

.cd-top:hover {
  opacity: 1;
  transform: scale(1.05);
  background: #a00687;
  box-shadow: 0 6px 18px -3px #460e3d;
}

.cd-top--show {
  visibility: visible;
  opacity: .6;
}

/* end btn-top */
